body.login {
    background-color: #00c2cb;
}

.login-form {
    width: 350px;
    margin: 0 auto;
    padding: 100px 0px 30px;
}

.login-form form {
    color: white;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #005257;
    padding: 30px;
    position: relative;
    box-shadow: 0px 2px 2px #005257;
}

.login-form .logo {
    width: 115px;
    height: 95px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
}

.login-form .logo img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
}

div.login-form h2 {
    font-size: 22px;
    margin: 45px 0 25px;
}

/* FORMATAÇÕES GERAIS BOOTSRAP*/

.form-control {
    min-height: 40px;
    background: white;
    box-shadow: none !important;
}

.form-control:focus {
    border-color:  #00c2cb;
}

.login-form .btn {
    border-radius: 2px;
    background-color: #00c2cb;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
} 

.login-form .btn:hover, .login-form .btn:focus {
    background-color: #57e5ec;
    outline: none !important;
}

.login-form input[type="checkbox"] {
    margin-top: 2px;
}

.login-form a{
    color: white;
    text-decoration: none;
}

.login-form a:hover {
    color: rgb(192, 192, 192);
}