html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 70px; /* altura do seu footer */
}


.navbar {
    background-color: #00c2cb !important;
}

.navbar img {
    width: 5em;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
    position: absolute;
    margin-top: -0.5em;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: white;
}

.nav {
    background-color:#00c2cb !important;
    border-radius: 10px;
    margin-top: 50px;
}

.nav a {
    color: #005257;
    font-size: 14px;
}

.nav .active {
    background-color: #005257 !important;
}

/*FORMATAÇÕES PDRÃO GERAL SISTEMA*/

h1 {
    text-align: left;

}

/*FORMATAÇÕES DO RODAPÉ*/

footer {
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
    height: 80px;    
    text-align: center;
    background-color: #00c2cb;
}

footer h2 {
    letter-spacing: 0.1em;
    font-size: 2.5em;
}


/* formatações cards */

.card {
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px;
    margin: 0 auto;
}

.card-body {
    padding-bottom: 2px !important;
    padding-top: 10px !important;
}

.card p{
    margin: 0;
    padding: 0;
}

.icone-card {
    font-size: 70px;
}

.icone-card img {
    width: 150%;
}

.titulo-card {
    font-size: 15px;
    text-align: right;
}

.subtitulo-card {
    font-size: 40px;
    text-align: right;
}




/* FORMATAÇÕES DA PÁGINA DE PACIENTES */

table.lista-pacientes tr td a {
    color: white !important;
}

/* FORMATAÇÕES DA PÁGINA DE AGENDA */

div.calendarioAgenda {
    margin-bottom: 1em;
}

/*BOTÃO SECUNDARIO DO SISTEMA*/

.btn-secondary {
    background-color: #005257 !important;
    border: none;
    color: white !important;
}

.btn-secondary:hover {
    background-color:#00c2cb !important;
    color: white !important;
}

/* MODAL DE CADASTRO PADRÃO */

div.novo-modal .modal-body {
    margin-top: 1em;
}

div.modal-paciente img.logo-lateral{
    width: 6em;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
    position: absolute;
    margin-top: -0.5em;
}

div.novo-agendamento  img.logo-lateral{
    width: 6em;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
    position: absolute;
    margin-top: -0.5em;
    right: 1em;
}

div.modal-paciente img.foto-paciente{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
    margin-top: -0.5em;
    object-fit: cover;
}




/* FORMATAÇÕES CARD NOVO ATENDIMENTO */


a.card-atendimento {
    text-decoration: none;
}

.card-atendimento {
    width: 20em;
}


div.card-atendimento-body {
    background-color: #00c2cb !important;
    height: 10em;
    border-radius: 5%;
    overflow: hidden;
}

a.card-atendimento::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms;
    border-radius: 5%;
}

a.card-atendimento::after {
    content: "Iniciar Atendimento";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    opacity: 0;
    transition: opacity 300ms;
}

a.card-atendimento:hover::before,
a.card-atendimento:hover::after {
    opacity: 1;
}


img.foto-paciente{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
    margin-top: 1em;
    object-fit: cover;
}

a.card-atendimento h2, a.card-atendimento h5 {
    color: white;
}

div.card-atendimento h2 {
    font-size: 1.5em ;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4em; /* Altura máxima para duas linhas de texto */
}





div.card-realizado a.card-atendimento {
    text-decoration: none;
}

div.card-realizado .card-atendimento {
    width: 20em;
}


div.card-realizado div.card-atendimento-body {
    background-color: gray !important;
    height: 10em;
    border-radius: 5%;
    overflow: hidden;
}

div.card-realizado a.card-atendimento::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms;
    border-radius: 5%;
}

div.card-realizado a.card-atendimento::after {
    content: "Visualizar informações";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    opacity: 0;
    transition: opacity 300ms;
}

div.card-realizado a.card-atendimento:hover::before,
div.card-realizado a.card-atendimento:hover::after {
    opacity: 1;
}


div.card-realizado img.foto-paciente{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
    margin-top: 1em;
    object-fit: cover;
}

div.card-realizado a.card-atendimento h2, a.card-atendimento h5 {
    color: white;
}

div.card-realizado div.card-atendimento h2 {
    font-size: 1.5em ;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4em; /* Altura máxima para duas linhas de texto */
}



/* FORMATAÇÃO RELATÓRIO */


div.relatorio {
    background-color: #00c2cb;
}

img.relatorio {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #005257;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    object-fit: cover;
}


footer.relatorio {
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
    height: 150px;    
    text-align: center;
    background-color: #00c2cb;
}